extends layout 

block content

    h1= title

    p #[strong Description:] #{category.description}

    div(style='margin-left:20px;margin-top:20px')
        h4 Items in this category

        dl
        each item in items
            dt
                a(href=item.url) #{item.name}
        else
            p There are no items for this category

        hr
        a(href=`/catalog/category/${category._id}/delete`) Delete category
